<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">系统设置</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/setting">基本设置</a></dd>
                    <dd><a href="/admin/dictionary">数据字典</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="/admin/link">常用链接</a>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">收藏内容</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/mark">收藏管理</a></dd>
                    <dd><a href="/admin/tag">标签管理</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>