<div class="layui-tab-item layui-show">
    <div class="layui-form">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">输入</label>
            <div class="layui-input-block">
                            <textarea id="urlInput" placeholder="请输入内容" class="layui-textarea"
                                      rows="10"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button id="urlEncode" class="layui-btn layui-btn-normal">编码</button>
                <button id="urlDecode" class="layui-btn layui-btn-warm">解码</button>
                <button id="urlExchange" class="layui-btn">交换</button>
                <button id="urlClear" class="layui-btn layui-btn-danger">清空</button>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">输出</label>
            <div class="layui-input-block">
                                <textarea id="urlOutput" placeholder="这里输出处理结果" class="layui-textarea"
                                          readonly="readonly" rows="10"></textarea>
            </div>
        </div>
    </div>
</div>