<div class="layui-tab-item layui-show">
    <div class="layui-form">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">输入</label>
            <div class="layui-input-block">
                <textarea id="md5Input" placeholder="请输入内容" class="layui-textarea" rows="10"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button id="md5" class="layui-btn layui-btn-normal">生成32位小写</button>
                <button id="md5Upper" class="layui-btn layui-btn-normal">生成32位大写</button>
                <button id="md516" class="layui-btn layui-btn-normal">生成16位小写</button>
                <button id="md516Upper" class="layui-btn layui-btn-normal">生成16位大写</button>
                <button id="md5Clear" class="layui-btn layui-btn-danger">清空</button>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">输出</label>
            <div class="layui-input-block">
                                <textarea id="md5Output" placeholder="这里输出处理结果" class="layui-textarea"
                                          readonly="readonly" rows="10"></textarea>
            </div>
        </div>
    </div>
</div>