body {
    margin: 0px;
}

#jsoneditor {
    height: 100vh;
}

.jsoneditor-menu > button {
    cursor: pointer;
}

.jsoneditor-menu .jsoneditor-restore {
    background-position: -72px 0px;
}

.jsoneditor-menu .jsoneditor-escape {
    background-position: -144px 0px;
}

.jsoneditor-menu .jsoneditor-clear {
    background-position: -24px 0px;
}

@media (max-width: 768px) {
    .jsoneditor-poweredBy {
        display: none;
    }
}