<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title th:text="${'收藏详情 - '+title}">收藏详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" th:href="${cdn + '/layui/2.8.18/css/layui.min.css'}">
    <link rel="stylesheet" href="/static/admin/css/admin.css">
</head>
<body onload="rememberPrevUrl()">
<div class="layui-layout layui-layout-admin">

    <div th:include="admin/header"></div>

    <div th:include="admin/sidebar"></div>

    <div class="layui-body">
        <div class="mark-detail-container">
            <form class="layui-form" id="detail">

                <input type="hidden" name="id" th:value="${data.id}">

                <div class="layui-form-item">
                    <label class="layui-form-label">来源</label>
                    <div class="layui-input-block">
                        <select name="source">
                            <option value="">请选择来源平台</option>
                            <option th:each="t:${sources}"
                                    th:value="${t.code}" th:text="${t.data}"
                                    th:selected="${t.code == data.source}">
                            </option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="required" placeholder="请输入标题" autocomplete="off"
                               class="layui-input" th:value="${data.title}">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="url" lay-verify="required" placeholder="请输入地址" autocomplete="off"
                               class="layui-input" th:value="${data.url}">
                    </div>
                </div>

                <div class="layui-form-item tags">
                    <label class="layui-form-label">标签</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="tags" th:each="t:${tags}" th:value="${t.id}" th:text="${t.name}"
                               th:checked="${data.tags.contains(t.id)}">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea name="remark" placeholder="收藏备注信息" autocomplete="off" class="layui-textarea"
                                  th:text="${data.remark}"></textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" id="save">保存</button>
                        <a class="layui-btn layui-btn-primary" onclick="backPrevUrl()">返回</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<script th:src="${cdn + '/layui/2.8.18/layui.min.js'}"></script>
<script src="/static/admin/js/admin.js"></script>
<script src="/static/admin/js/mark.js"></script>
</body>
</html>