<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title th:text="${'标签管理 - '+title}">标签管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" th:href="${cdn + '/layui/2.8.18/css/layui.min.css'}">
    <link rel="stylesheet" href="/static/admin/css/admin.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">

    <div th:include="admin/header"></div>

    <div th:include="admin/sidebar"></div>

    <div class="layui-body">
        <div class="tag-container">
            <!-- 搜索框 -->
            <form class="layui-form layui-row layui-col-space16" id="query">
                <div class="layui-btn-container">
                    <button type="button" class="layui-btn layui-btn-warm" id="add">添加</button>
                </div>
            </form>

            <!-- 数据表格 -->
            <table class="layui-table">
                <thead>
                <tr>
                    <th>标签</th>
                    <th width="150">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row:${data}">
                    <td th:text="${row.name}"></td>
                    <td>
                        <button type="button" class="layui-btn layui-btn-xs" name="rename"
                                th:attr="row-id=${row.id},row-name=${row.name}">改名
                        </button>
                        <button type="button" class="layui-btn layui-btn-danger layui-btn-xs" name="remove"
                                th:attr="row-id=${row.id},row-name=${row.name}">删除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script th:src="${cdn + '/layui/2.8.18/layui.min.js'}"></script>
<script src="/static/admin/js/admin.js"></script>
<script src="/static/admin/js/tag.js"></script>
</body>
</html>