<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <a class="fly-logo" href="/">
            <img src="/assets/global/img/logo.png" alt="layui">
        </a>
        <ul class="layui-nav fly-nav layui-hide-xs">
            <li class="layui-nav-item">
                <a href="http://blog.devzyh.cn" target="_blank"><i class="layui-icon">&#xe674;</i>博客</a>
            </li>
            <li class="layui-nav-item">
                <a href="https://gitee.com/devzyh" target="_blank"><i class="layui-icon">&#xe64e;</i>代码</a>
            </li>
            <li class="layui-nav-item">
                <a href="https://gitmind.cn/app/doc/dce4044395" target="_blank"><i class="layui-icon">&#xe62e;</i>技能树</a>
            </li>
        </ul>

        <ul class="layui-nav fly-nav-user">

            <!-- 未登入的状态 -->
            <li class="layui-nav-item">
                <a href="/auth">登录</a>
            </li>

            <!-- 登入后的状态 -->
            <li class="layui-nav-item layui-hide">
                <a class="fly-nav-avatar" href="javascript:;">
                    <cite class="layui-hide-xs">devzyh</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/manage"><i class="layui-icon">&#xe620;</i>系统管理</a></dd>
                    <dd><a href="/user/logout/"><i class="layui-icon">&#xe682;</i>退出登录</a></dd>
                    </dd>
                </dl>
            </li>

        </ul>
    </div>
</div>
