<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${data.pageTitle}+'-'+${title}">search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="${cdn + '/layui/2.8.18/css/layui.min.css'}">
    <link rel="stylesheet" href="/static/main/main.css">
</head>
<body>
<div class="page-wrapper">

    <div th:include="header"></div>

    <div class="page-main" id="searchpage">

        <input type="hidden" id="searchType" th:value="${data.searchType}">

        <div class="grid urls">
            <div class="grid-col" th:each="url: ${data.urls}">
                <a th:href="${url.url}" target="_blank">
                    <div class="link-item">
                        <div class="link-info">
                            <h2 th:text="${url.title}">文章标题</h2>
                            <p class="excerpt" th:if="${url.remark == null || url.remark == ''}"
                               th:text="${url.title}"></p>
                            <p class="excerpt" th:if="${url.remark != null && url.remark != ''}"
                               th:text="${url.remark}"></p>
                            <p class="link-meta">
                                <span class="date fl">
                                  <span class="tag" th:each="tag: ${url.tags}" th:text="${tag}"></span>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="pager" th:if="${data.hasPage()}">
            <div class="box">
                <a class="prev" th:if="${data.page.hasPrevious()}" th:href="${data.previousPageUrl()}">
                    <span><i class="fas czs-angle-left-l"></i></span>
                </a>
                <div class="nav_pagenum">
                    <span th:text="${data.page.getCurrent() + ' / ' + data.page.getPages()}"></span>
                </div>
                <a class="next" th:if="${data.page.hasNext()}" th:href="${data.nextPageUrl()}">
                    <span><i class="fas czs-angle-right-l"></i></span>
                </a>
            </div>
        </div>

    </div>

    <div th:include="footer"></div>

</div>
<script th:src="${cdn + '/layui/2.8.18/layui.min.js'}"></script>
<script src="/static/main/main.js"></script>
</body>
</html>
