body {
    margin: 0px;
}

.layui-card {
    margin-bottom: 0px;
}

.layui-card-header {
    border-bottom: 1px solid #eee;
}

.layui-inline {
    padding-right: 10px;
    width: 120px;
}

.layui-form-select .layui-input {
    line-height: height 30px;
    height: 30px;
}

#editor {
    width: 100%;
    height: 93vh;
}