<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.devzyh.toolbox.mapper.TagMapper">

    <resultMap id="tagMap" type="cn.devzyh.toolbox.domain.entity.Tag">
        <id property="id" column="id"/>
        <id property="name" column="name"/>
    </resultMap>

    <select id="findTagsByMarkId" resultMap="tagMap">
        SELECT *
        FROM TAG
        WHERE ID IN (SELECT TAG_ID FROM MARK_TAG WHERE MARK_ID = #{markId})
    </select>

</mapper>